@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;/*Aqui transformamos o header, content e 
  footer em flex items e fixamos o footer no pé da página 
  com o space-between*/
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/*Header*/
ul{
  display: flex;
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px;
}

.header .left-links{
  gap: 10px;
  padding: 0;
  margin: 0;
}

.header .right-links{
  gap: 10px;
  padding: 0;
  margin: 0;
}

/*Content*/
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Footer*/
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background-color: rgb(240, 235, 235);
  padding: 10px;
}

.footer .left-links{
  gap: 10px;
  padding: 0;
  margin: 0;
}

.footer .right-links{
  gap: 10px;
  padding: 0;
  margin: 0;
}